USE [master]
GO
/****** Object:  Database [eCommerce]    Script Date: 8/26/2018 11:15:38 PM ******/
CREATE DATABASE [eCommerce]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'eCommerce', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\eCommerce.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'eCommerce_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\eCommerce_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [eCommerce].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [eCommerce]
GO
USE [eCommerce]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/26/2018 11:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 8/26/2018 11:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 8/26/2018 11:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 8/26/2018 11:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 8/26/2018 11:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 8/26/2018 11:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 8/26/2018 11:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[BirthDate] [datetime] NULL,
	[CreatedOnDate] [datetime] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 8/26/2018 11:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 8/26/2018 11:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[CreatedByUserId] [nvarchar](450) NULL,
	[CreatedOnDate] [datetime] NULL,
	[LasUpdatedByUserId] [nvarchar](450) NULL,
	[LastUpdatedOnDate] [datetime] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailSettings]    Script Date: 8/26/2018 11:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Server] [nvarchar](100) NULL,
	[PortNumber] [int] NULL,
	[EmailFrom] [nvarchar](100) NULL,
	[Password] [nvarchar](max) NULL,
	[EmailTo] [nvarchar](100) NULL,
 CONSTRAINT [PK_EmailSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 8/26/2018 11:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[TotalPrice] [decimal](18, 2) NULL,
	[ShippingId] [int] NULL,
	[Payed] [bit] NULL,
	[StatusId] [int] NULL,
	[CreatedByUserId] [nvarchar](450) NULL,
	[CreatedOnDate] [datetime] NULL,
	[LasUpdatedByUserId] [nvarchar](450) NULL,
	[LastUpdatedOnDate] [datetime] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 8/26/2018 11:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[OrderId] [int] NULL,
	[Price] [decimal](18, 2) NULL,
	[Quantity] [int] NULL,
	[Total] [decimal](18, 2) NULL,
	[CreatedByUserId] [nvarchar](450) NULL,
	[CreatedOnDate] [datetime] NULL,
	[LasUpdatedByUserId] [nvarchar](450) NULL,
	[LastUpdatedOnDate] [datetime] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Price]    Script Date: 8/26/2018 11:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Price](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[Price] [decimal](18, 2) NULL,
	[IsSale] [bit] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Price] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 8/26/2018 11:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[Quantity] [int] NULL,
	[IsOnSale] [bit] NULL,
	[CreatedByUserId] [nvarchar](450) NULL,
	[CreatedOnDate] [datetime] NULL,
	[LasUpdatedByUserId] [nvarchar](450) NULL,
	[LastUpdatedOnDate] [datetime] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 8/26/2018 11:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[CategoryId] [int] NULL,
 CONSTRAINT [PK_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipping]    Script Date: 8/26/2018 11:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipping](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Address1] [nvarchar](200) NULL,
	[Address2] [nvarchar](200) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[CreatedByUserId] [nvarchar](450) NULL,
	[CreatedOnDate] [datetime] NULL,
	[LasUpdatedByUserId] [nvarchar](450) NULL,
	[LastUpdatedOnDate] [datetime] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Shipping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 8/26/2018 11:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_OrderStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Upload]    Script Date: 8/26/2018 11:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Upload](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Path] [nvarchar](max) NULL,
	[FileName] [nvarchar](max) NULL,
	[ProductId] [int] NULL,
	[IsThumbnail] [bit] NULL,
	[IsCarousel] [bit] NULL,
	[CreatedByUserId] [nvarchar](450) NULL,
	[CreatedOnDate] [datetime] NULL,
	[LasUpdatedByUserId] [nvarchar](450) NULL,
	[LastUpdatedOnDate] [datetime] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Upload] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'00000000000000_CreateIdentitySchema', N'2.0.1-rtm-125')
INSERT [dbo].[AspNetRoles] ([Id], [ConcurrencyStamp], [Name], [NormalizedName]) VALUES (N'176aa2a7-0897-4d51-b1df-d3bcf5728c2a', N'278b1e62-b585-424c-8f78-16412c25c5e5', N'Admin', N'ADMIN')
INSERT [dbo].[AspNetRoles] ([Id], [ConcurrencyStamp], [Name], [NormalizedName]) VALUES (N'fbfd651f-3779-4822-b549-4e4bbce5b8a1', N'32a47d98-383b-43c4-a2f7-a42b08d41707', N'Customer', N'CUSTOMER')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'6b30f13b-77b8-452a-aca5-4b15f0ff99f6', N'176aa2a7-0897-4d51-b1df-d3bcf5728c2a')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'8be5022d-4dd9-4d4b-89af-8e34cc654cb3', N'fbfd651f-3779-4822-b549-4e4bbce5b8a1')
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name], [CreatedByUserId], [CreatedOnDate], [LasUpdatedByUserId], [LastUpdatedOnDate], [IsDeleted]) VALUES (1, N'Computers', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Category] ([Id], [Name], [CreatedByUserId], [CreatedOnDate], [LasUpdatedByUserId], [LastUpdatedOnDate], [IsDeleted]) VALUES (2, N'Phones', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Category] ([Id], [Name], [CreatedByUserId], [CreatedOnDate], [LasUpdatedByUserId], [LastUpdatedOnDate], [IsDeleted]) VALUES (3, N'Accessories', NULL, NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id], [UserId], [TotalPrice], [ShippingId], [Payed], [StatusId], [CreatedByUserId], [CreatedOnDate], [LasUpdatedByUserId], [LastUpdatedOnDate], [IsDeleted]) VALUES (1004, N'6b30f13b-77b8-452a-aca5-4b15f0ff99f6', CAST(39.99 AS Decimal(18, 2)), 1003, 1, 3, N'6b30f13b-77b8-452a-aca5-4b15f0ff99f6', CAST(N'2018-01-03T20:15:35.653' AS DateTime), N'6b30f13b-77b8-452a-aca5-4b15f0ff99f6', CAST(N'2018-01-11T16:44:40.833' AS DateTime), 0)
INSERT [dbo].[Order] ([Id], [UserId], [TotalPrice], [ShippingId], [Payed], [StatusId], [CreatedByUserId], [CreatedOnDate], [LasUpdatedByUserId], [LastUpdatedOnDate], [IsDeleted]) VALUES (1005, N'6b30f13b-77b8-452a-aca5-4b15f0ff99f6', CAST(1549.97 AS Decimal(18, 2)), 1004, 1, 1, N'6b30f13b-77b8-452a-aca5-4b15f0ff99f6', CAST(N'2018-01-11T18:07:18.487' AS DateTime), N'6b30f13b-77b8-452a-aca5-4b15f0ff99f6', CAST(N'2018-01-16T15:45:44.323' AS DateTime), 0)
INSERT [dbo].[Order] ([Id], [UserId], [TotalPrice], [ShippingId], [Payed], [StatusId], [CreatedByUserId], [CreatedOnDate], [LasUpdatedByUserId], [LastUpdatedOnDate], [IsDeleted]) VALUES (1006, N'8be5022d-4dd9-4d4b-89af-8e34cc654cb3', CAST(29.99 AS Decimal(18, 2)), 1005, 1, 3, N'8be5022d-4dd9-4d4b-89af-8e34cc654cb3', CAST(N'2018-01-16T15:43:57.803' AS DateTime), N'8be5022d-4dd9-4d4b-89af-8e34cc654cb3', CAST(N'2018-01-16T15:51:36.210' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Order] OFF
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [ProductId], [OrderId], [Price], [Quantity], [Total], [CreatedByUserId], [CreatedOnDate], [LasUpdatedByUserId], [LastUpdatedOnDate], [IsDeleted]) VALUES (1006, 2120, 1004, CAST(39.99 AS Decimal(18, 2)), 1, CAST(39.99 AS Decimal(18, 2)), N'6b30f13b-77b8-452a-aca5-4b15f0ff99f6', CAST(N'2018-01-03T20:15:35.783' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[OrderDetails] ([Id], [ProductId], [OrderId], [Price], [Quantity], [Total], [CreatedByUserId], [CreatedOnDate], [LasUpdatedByUserId], [LastUpdatedOnDate], [IsDeleted]) VALUES (1008, 2120, 1005, CAST(29.99 AS Decimal(18, 2)), 1, CAST(29.99 AS Decimal(18, 2)), N'6b30f13b-77b8-452a-aca5-4b15f0ff99f6', CAST(N'2018-01-11T20:02:20.360' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[OrderDetails] ([Id], [ProductId], [OrderId], [Price], [Quantity], [Total], [CreatedByUserId], [CreatedOnDate], [LasUpdatedByUserId], [LastUpdatedOnDate], [IsDeleted]) VALUES (1010, 2119, 1005, CAST(759.99 AS Decimal(18, 2)), 2, CAST(1519.98 AS Decimal(18, 2)), N'6b30f13b-77b8-452a-aca5-4b15f0ff99f6', CAST(N'2018-01-11T20:09:39.060' AS DateTime), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
SET IDENTITY_INSERT [dbo].[Price] ON 

INSERT [dbo].[Price] ([Id], [ProductId], [Price], [IsSale], [IsActive]) VALUES (2014, 2114, CAST(899.99 AS Decimal(18, 2)), 0, 1)
INSERT [dbo].[Price] ([Id], [ProductId], [Price], [IsSale], [IsActive]) VALUES (2015, 2115, CAST(379.99 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[Price] ([Id], [ProductId], [Price], [IsSale], [IsActive]) VALUES (2017, 2115, CAST(429.99 AS Decimal(18, 2)), 0, 1)
SET IDENTITY_INSERT [dbo].[Price] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name], [Description], [Quantity], [IsOnSale], [CreatedByUserId], [CreatedOnDate], [LasUpdatedByUserId], [LastUpdatedOnDate], [IsDeleted]) VALUES (2114, N'iPhone X', N'<p>iPhone X&nbsp;</p><p>64GB</p><p>Silver</p><p><br></p>', 10, 0, N'6b30f13b-77b8-452a-aca5-4b15f0ff99f6', CAST(N'2018-01-02T20:43:22.410' AS DateTime), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

INSERT [dbo].[ProductCategory] ([Id], [ProductId], [CategoryId]) VALUES (1027, 2114, 2)
INSERT [dbo].[ProductCategory] ([Id], [ProductId], [CategoryId]) VALUES (1028, 2115, 4)
INSERT [dbo].[ProductCategory] ([Id], [ProductId], [CategoryId]) VALUES (1029, 2116, 3)
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
SET IDENTITY_INSERT [dbo].[Shipping] ON 

INSERT [dbo].[Shipping] ([Id], [FullName], [Address1], [Address2], [PostalCode], [City], [State], [CreatedByUserId], [CreatedOnDate], [LasUpdatedByUserId], [LastUpdatedOnDate], [IsDeleted]) VALUES (1003, N'Ertan Hasani', N'Sava Kovacevic no.21', N'Asdas', N'17523', N'Presevo', N'Serbia', N'6b30f13b-77b8-452a-aca5-4b15f0ff99f6', CAST(N'2018-01-11T16:44:39.760' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Shipping] ([Id], [FullName], [Address1], [Address2], [PostalCode], [City], [State], [CreatedByUserId], [CreatedOnDate], [LasUpdatedByUserId], [LastUpdatedOnDate], [IsDeleted]) VALUES (1004, N'Ertan Hasani', N'Sava Kovacevic no.21', N'Asdas', N'17523', N'Presevo', N'Serbia', N'6b30f13b-77b8-452a-aca5-4b15f0ff99f6', CAST(N'2018-01-16T15:45:44.170' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Shipping] ([Id], [FullName], [Address1], [Address2], [PostalCode], [City], [State], [CreatedByUserId], [CreatedOnDate], [LasUpdatedByUserId], [LastUpdatedOnDate], [IsDeleted]) VALUES (1005, N'Ertan Hasani', N'Sava Kovacevic no.21', N'Asdas', N'17523', N'Presevo', N'Serbia', N'8be5022d-4dd9-4d4b-89af-8e34cc654cb3', CAST(N'2018-01-16T15:51:36.030' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Shipping] OFF
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Id], [Name]) VALUES (1, N'Ordered')
INSERT [dbo].[Status] ([Id], [Name]) VALUES (2, N'Processing')
INSERT [dbo].[Status] ([Id], [Name]) VALUES (3, N'Shipped')
SET IDENTITY_INSERT [dbo].[Status] OFF
SET IDENTITY_INSERT [dbo].[Upload] ON 

INSERT [dbo].[Upload] ([Id], [Path], [FileName], [ProductId], [IsThumbnail], [IsCarousel], [CreatedByUserId], [CreatedOnDate], [LasUpdatedByUserId], [LastUpdatedOnDate], [IsDeleted]) VALUES (2126, N'~/uploads/carousels/Banner2126.png', N'Banner2126.png', NULL, 0, 1, N'6b30f13b-77b8-452a-aca5-4b15f0ff99f6', CAST(N'2018-01-02T20:40:16.313' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[Upload] ([Id], [Path], [FileName], [ProductId], [IsThumbnail], [IsCarousel], [CreatedByUserId], [CreatedOnDate], [LasUpdatedByUserId], [LastUpdatedOnDate], [IsDeleted]) VALUES (2127, N'~/uploads/carousels/Banner2127.png', N'Banner2127.png', NULL, 0, 1, N'6b30f13b-77b8-452a-aca5-4b15f0ff99f6', CAST(N'2018-01-02T20:40:41.690' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[Upload] ([Id], [Path], [FileName], [ProductId], [IsThumbnail], [IsCarousel], [CreatedByUserId], [CreatedOnDate], [LasUpdatedByUserId], [LastUpdatedOnDate], [IsDeleted]) VALUES (2128, N'~/uploads/carousels/Banner2128.png', N'Banner2128.png', NULL, 0, 1, N'6b30f13b-77b8-452a-aca5-4b15f0ff99f6', CAST(N'2018-01-02T20:40:52.120' AS DateTime), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Upload] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 8/26/2018 11:15:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 8/26/2018 11:15:41 PM ******/
CREATE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 8/26/2018 11:15:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 8/26/2018 11:15:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 8/26/2018 11:15:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_UserId]    Script Date: 8/26/2018 11:15:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 8/26/2018 11:15:41 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 8/26/2018 11:15:41 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Cart_Payed]  DEFAULT ((0)) FOR [Payed]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_IsOnSale]  DEFAULT ((0)) FOR [IsOnSale]
GO
ALTER TABLE [dbo].[Upload] ADD  CONSTRAINT [DF_Upload_IsThumbnail]  DEFAULT ((0)) FOR [IsThumbnail]
GO
ALTER TABLE [dbo].[Upload] ADD  CONSTRAINT [DF_Upload_IsCarousel]  DEFAULT ((0)) FOR [IsCarousel]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Shipping] FOREIGN KEY([ShippingId])
REFERENCES [dbo].[Shipping] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Cart_Shipping]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_AspNetUsers]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_OrderStatus] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_OrderStatus]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Order]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Product]
GO
ALTER TABLE [dbo].[Price]  WITH CHECK ADD  CONSTRAINT [FK_Price_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Price] CHECK CONSTRAINT [FK_Price_Product]
GO
ALTER TABLE [dbo].[ProductCategory]  WITH CHECK ADD  CONSTRAINT [FK_ProductCategory_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[ProductCategory] CHECK CONSTRAINT [FK_ProductCategory_Category]
GO
ALTER TABLE [dbo].[ProductCategory]  WITH CHECK ADD  CONSTRAINT [FK_ProductCategory_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[ProductCategory] CHECK CONSTRAINT [FK_ProductCategory_Product]
GO
ALTER TABLE [dbo].[Upload]  WITH CHECK ADD  CONSTRAINT [FK_Upload_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Upload] CHECK CONSTRAINT [FK_Upload_Product]
GO
USE [master]
GO
