@page
@model eCommerce.Pages.Panel.UsersModel

@{
    ViewData["Title"] = "Users";
}
<div class="contenti">
    <div class="">
        <div class="col-md-12">
            <div class="form-group">
                <input style="width: 250px !important;" id="search" type="text" class="form-control" placeholder="Search..." />
            </div>
            <table id="usersTable" class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Birthdate</th>
                        <th>Current Cart</th>
                        <th>Orders</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="usersTableBody"></tbody>
            </table>
            <div class="text-center paginationRow">
                <ul id="pagination" class="pagination-sm pagination"></ul>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/twbs-pagination/jquery.twbsPagination.min.js"></script>
    <script>
        $(function () {
            var isIntialized = false;
            getUsers(1, false);

            function getUsers(page, isFromPagination) {
                var search = $('#search').val();

                $.ajax({
                    type: 'GET',
                    url: "/Panel/Users",
                    dataType: "json",
                    data: {
                        search: search,
                        pageNr: page,
                        handler: 'Users'
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    success: function (data) {
                        if (!isIntialized) {
                            $('#pagination').twbsPagination({
                                totalPages: data.totalPages == 0 ? 1 : data.totalPages,
                                visiblePages: 3,
                                onPageClick: function (event, pageNr) {
                                    getUsers(pageNr, true);
                                    $("html, body").animate({ scrollTop: 0 }, "slow");
                                    return false;
                                }
                            });
                            isIntialized = true;
                        }
                        else if (page == 1 && isFromPagination == false) {
                            $('#pagination').twbsPagination('show', 1);
                        }

                        var html = '';

                        if (data.users.length) {
                            $.each(data.users, function (i, item) {
                                html += '<tr>';

                                html += '<td>' + item.id + '</td>';
                                html += '<td>' + item.fullName + '</td>';
                                html += '<td>' + item.email + '</td>';
                                html += '<td>' + item.birthDate + '</td>';
                                if (item.currentCart == true) {
                                    html += '<td><a href="/Cart/' + item.id + '">View</a></td>';
                                }
                                else {
                                    html += 'No';
                                }
                                html += '<td>' + item.orders + '</td>';
                                html += '<td><a href="/Profile/' + item.id + '" class="btn btn-primary"><i class="fa fa-eye"></i></a></td>';

                                html += '</tr>'
                            });
                        }
                        else {
                            html += '<tr>';

                            html += '<td class="text-center" colspan="7">There is no user.</td>'

                            html += '</tr>';
                        }

                        $('#usersTableBody').html(html);
                    }
                });
            }
            $('#search').on('input', function () {
                getUsers(1, false);
            });
        });
    </script>
}