@page
@model eCommerce.Pages.Profile.EditModel

@{
    ViewData["Title"] = "Edit Profile";
}

<div class="contenti">
    <div class="container">
        <form id="form" method="post">
            <div class="row">
                <input type="hidden" asp-for="Profile.Id" />
                <div class="col-md-12">
                    <div class="form-group">
                        <label>First Name:</label>
                        <input type="text" asp-for="Profile.FirstName" class="form-control profile" />
                    </div>
                    <div class="form-group">
                        <label>Last Name:</label>
                        <input type="text" asp-for="Profile.LastName" class="form-control profile" />
                    </div>
                    <div class="form-group">
                        <label>Birthdate:</label>
                        <input type="date" asp-for="Profile.BirthDate" class="form-control profile" />
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="text" asp-for="Profile.Email" readonly="readonly" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Current Password:</label>
                        <input type="password" asp-for="Profile.CurrentPassword" class="form-control password" />
                    </div>
                    <div class="form-group">
                        <label>New Password:</label>
                        <input type="password" asp-for="Profile.NewPassword" class="form-control password" />
                    </div>
                    <div class="form-group">
                        <label>Confirm Password:</label>
                        <input type="password" asp-for="Profile.ConfirmPassword" class="form-control password" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="text-right">
                        <a asp-page="/Profile/Index" asp-route-userId="@Model.Profile.Id" class="btn btn-default">CANCEL</a>
                        <button id="submitBtn" type="button" class="btn btn-primary">SAVE</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{ 
<script>
        $(function () {
            if ('@ViewData["Error"]' != null && '@ViewData["Error"]' != '')
            {
                toastr.error('@ViewData["Error"]')
            }

            $('#form').bind('keypress keydown keyup', function (e) {
                if (e.keyCode == 13) { e.preventDefault(); }
            });

            $('#submitBtn').on('click', function () {
                var hasErrors = false;

                $('#form input.profile').each(function (i, item) {
                    var value = $(this).val();
                    if (value == '' || value == null) {
                        $(this).addClass('validateInput');
                        hasErrors = true;
                    }
                    else {
                        $(this).removeClass('validateInput');
                    }
                });

                var passowrd = $('#Profile_CurrentPassword').val();
                var newPassword = $('#Profile_NewPassword').val();
                var confirmPassword = $('#Profile_ConfirmPassword').val();

                var typedPassword = false;
                if ((passowrd != null && passowrd != '') || (newPassword != null && newPassword != '') || (confirmPassword != null && confirmPassword != '')) {
                    typedPassword = true;
                }

                if (typedPassword) {
                    $('#form input.password').each(function (i, item) {
                        var value = $(this).val();
                        if (value == '' || value == null) {
                            $(this).addClass('validateInput');
                            hasErrors = true;
                        }
                        else {
                            $(this).removeClass('validateInput');
                        }
                    });
                }

                if (hasErrors) {
                    return false;
                }
                else {
                    $('#form').submit();
                }
            });

            $('input.profile').on('input', function () {
                var value = $(this).val();

                if (value == null || value == '') {
                    $(this).addClass('validateInput')
                }
                else {
                    $(this).removeClass('validateInput');
                }
            });

        });
</script>
}