@using Microsoft.AspNetCore.Identity
@using eCommerce.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<ul class="navbar-nav mr-auto navbar-right">
    @if(User.IsInRole("Admin"))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Panel</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" asp-page="/Panel/Users">Users</a>
                <a class="dropdown-item" asp-page="/Panel/Orders">Orders</a>
                <a class="dropdown-item" asp-page="/Panel/Statistics">Statistics</a>
                <a class="dropdown-item" asp-page="/Panel/Carousel">Carousel</a>
            </div>
        </li>
    }
    <li class="nav-item" style="min-width: 60px;">
        <a id="cartBtn" class="nav-link" asp-page="/Cart/Index"><i class="fa fa-shopping-cart fa-lg"></i><span id="cartCount" class="badge badge-primary cartBadge">0</span></a>
    </li>
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-lg"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="/Profile/@UserManager.GetUserId(User)">Profile</a>
                <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                        <a href="#" id="logoutBtn" class="dropdown-item">Log out</a>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/Account/Login">Log in</a>
        </li>
    }
</ul>