@{
    ViewData["Title"] = "تایید ایمیل";
}

<h2 style="text-align: center">@ViewData["Title"]</h2>

<div >

    <p style="text-align: center">
        باتشکر حساب کاربری شما تایید گردید
    </p>

</div>
