@model WebApp.ViewModels.ForgotPasswordView
@{
    ViewData["Title"] = "فراموشی رمز عبور";
}

<h2 style="text-align: center">@ViewData["Title"]</h2>

<hr/>

<div class="row" style="display: flex">

    <div class="col-md-4" style="margin: auto">

        <h4 style="text-align: right;">ایمیل را وارد کنید</h4>

        <form method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">

                <input asp-for="Email" class="form-control"/>

                <span asp-validation-for="Email" class="text-danger"></span>

            </div>

            <button id="loginBtn" type="submit" class="btn btn-default" style="background: #04adbf; color: white">ثبت</button>

        </form>

    </div>

</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}