@{
    ViewData["Title"] = "ارسال ایمیل بازنشانی رمز عبور";
}

<h2 style="text-align: center">@ViewData["Title"]</h2>

<p style="text-align: center">

    <br>

    ایمیل بازنشانی رمز عبور برای شما ارسال گردید <br>

    لطفا ایمیل خود چک بفرمایید

</p>