@model WebApp.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "ثبت پروفایل";
    Layout = "_Layout";
}

<div class="row contenti justify-content-md-center" style="text-align: right">

    <div class="col-md-4">

        <form id="form" method="post" asp-action="RegisterForm">

            <h4>ساخت پروفایل</h4>

            <input asp-for="ReturnUrl" class="form-control" type="hidden"/>

            <hr/>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">

                <label asp-for="FirstName"></label>

                <input asp-for="FirstName" class="form-control"/>

                <span asp-validation-for="FirstName" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="LastName"></label>

                <input asp-for="LastName" class="form-control"/>

                <span asp-validation-for="LastName" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="BirthDateString"></label>

                <input asp-for="BirthDateString" type="text" class="form-control persianDatepicker"/>

                <span asp-validation-for="BirthDateString" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="Email"></label>

                <input asp-for="Email" class="form-control"/>

                <span asp-validation-for="Email" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="Password"></label>

                <input asp-for="Password" class="form-control"/>

                <span asp-validation-for="Password" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="ConfirmPassword"></label>

                <input asp-for="ConfirmPassword" class="form-control"/>

                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            </div>

            <button type="submit" id="submitBtn" class="btn btn-default" style="background: #04adbf; color:white; ">ثبت نام</button>

        </form>

    </div>

</div>