@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApp.ViewModels.ResetPasswordModel
@{
    ViewData["Title"] = "بازنشانی رمز عبور";
}

<div class="row contenti justify-content-md-center" style="text-align: center">

    <div class="col-md-4">

        <form method="post" asp-action="ResetPassword" asp-controller="Account">

            <h2>@ViewData["Title"]</h2>

            <div asp-validation-summary="All" class="text-danger"></div>

            <input asp-for="Code" type="hidden"/>

            <input asp-for="UserId" type="hidden"/>

            <div class="form-group">

                <label asp-for="Password"></label>

                <input asp-for="Password" class="form-control"/>

                <span asp-validation-for="Password" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="ConfirmPassword"></label>

                <input asp-for="ConfirmPassword" class="form-control"/>

                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            </div>

            <button type="submit" id="submitBtn" class="btn btn-default" style="background: #04adbf; color:white; ">ثبت نام</button>

        </form>

    </div>

</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
