@{
    ViewData["Title"] = "تایید بازنشانی رمز عبور";
}

<div class="row contenti justify-content-md-center" style="text-align: right">

    <div class="col-md-4">

        <h2 style="text-align: center">@ViewData["Title"]</h2>

        <p style="text-align: center">
            رمز عبور بازنشانی شد <a asp-action="Login" asp-controller="Account">لطفا دوباره وارد شوید</a>.
        </p>

    </div>

</div>