$globalPrimaryColor: #100F0F;
$globalSecondColor: #0F3D3E;
$globalThirdColor: #E2DCC8;
$globalFourthColor: #F1F1F1;

$globalRadius: 1rem;

$globalSectionHeight: 4rem;
$globalLineHeight: 1.5rem;
$globalNavbarButtonHeight: 1.5rem;
$globalButtonHeight: 2rem;
$globalButtonWidth: 3rem;

$globalDesktopFontSize: 18px;
$globalMobileFontSize: 14px;

$heightNavbar: 120px;
$transitionTimer: 1.5s;