@import "_variable.css";

.login-holder {
    background: white;
    padding: 1.5rem 2rem 0 2rem;
    border-radius: var(--globalRadius);
}

.email-login-input {
    border: none;
    border-bottom: 1px solid var(--globalSecondColor);
    border-radius: 5px 5px 0 0;
}

.form-control:focus {
    background: white !important;
    border-color: var(--globalSecondColor) !important;
    box-shadow: none;
}

.password-login-input {
    border: none;
    border-bottom: 1px solid var(--globalSecondColor);
    border-radius: 5px 5px 0 0;
}

.password-login-input:focus {
    background: white !important;
}

.password-login-forget {
    font-size: 14px;
}

.password-login-forget p{
   text-decoration: underline;
}

.password-login-forget p a{
    color: var(--globalPrimaryColor);
}

.password-login-forget p a:hover{
    color: var(--globalSecondColor);
}

.login-button {
    background: var(--globalSecondColor);
    border-radius: 1rem;
    color: white !important;
}

.signUp-link{
    font-size: 14px;
}

.signUp-link a p{
color: var(--globalSecondColor);
}