.orders-section{
    background: white;
    border-radius: 1rem;
}
.form-control{
    border: 1px solid #0F3D3E;
    border-radius: 1rem;
}

.orders-table thead tr{
    background:  #F1F1F1;
    border-radius: 1rem;
}

.orders-table thead tr th:first-child{
    border-radius: 0 1rem 1rem 0;
}

.orders-table thead tr th:last-child{
    border-radius:  1rem 0 0 1rem;
}


.table td ,.table th{
    border-top: 0;
}
.table thead{
    border: none;
}
.table thead th{
    border-bottom: 0;
}

.orders-table tbody {
    background:  #F1F1F1;
    border-radius: 1rem;
}